* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: all 0.2s ease-in-out;
}
body {
  max-width: 1280px;
  margin: 0 auto;
  font-family: "Poppins", serif;
}

#active {
  color: var(--heading-color);
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

:root {
  --max--width: 1280px !important;
  --main-height: 640px !important;
  --main-bg-color: #36846b;
  --heading-color: #181c14;
  --subheader-color: #4bb39a;
  --paragraph-color: #d68438;
  --link-color: #36846b;
  --link-hover-color: #d68438;
  --white: #ffffff;
  --black: #000000;
  --heading-font-size: 2em;
  --subheading-font-size: 1.5em;
  --paragraph-font-size: 1em;
  --link-font-size: 1em;
}

.button {
  display: inline-block;
  width: 140px;
  height: 60px;
  padding: 20px;
  border: none !important;
  border-radius: 5px !important;
  font-size: var(--paragraph-font-size);
  font-weight: bold;
  text-align: center;
  color: var(--main-bg-color);
  background-color: var(--white);
  cursor: pointer;
}

.button:hover {
  transform: translateY(-20%) !important;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  background-color: var(--main-bg-color);
  color: var(--white);
}

a {
  text-decoration: none;
  color: inherit;
  font-size: var(--link-font-size);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--max--width);
  height: 100px;
  border-radius: 30px;
  padding: 20px 30px;
  /* position: fixed; */
  z-index: 100;
}

.menu-bar img {
  display: none;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 32px;
  height: 32px;
  object-fit: contain;
}

.logo h1 {
  font-size: var(--heading-font-size);
  color: var(--heading-color);
}

.header-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  font-size: var(--paragraph-font-size);
  gap: 3rem;
}
.header-info li:hover {
  color: var(--main-bg-color);
  cursor: pointer;
}
/* section */
.Section-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-bg-color);
  width: var(--max--width);
  height: var(--main-height);
}
.name {
  position: relative;
  width: 640px;
  height: 640px;
}
.name img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.icon-1 {
  position: absolute;
  transform: rotate(-30deg);
  top: 20%;
  left: 20%;
  width: 120px;
  height: 120px;
}
.icon-2 {
  position: absolute;
  top: 80%;
  left: 80%;
  width: 120px;
  height: 120px;
}
.icon-3 {
  position: absolute;
  top: 40%;
  left: 60%;
  width: 120px;
  height: 120px;
}
.Information {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 640px;
  padding: 30px;
  line-height: 30px;
}
.Information h1 {
  font-size: var(--heading-font-size);
  color: var(--white);
}
.Information p {
  font-size: var(--paragraph-font-size);
  color: var(--white);
}

.section-2 {
  width: var(--max--width);
  height: 320px;
}
.section-2 h1 {
  font-size: var(--heading-font-size);
  color: var(--heading-color);
  border-bottom: 2px solid black;
}
.section-2_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 40px;
  width: var(--max--width);
  height: var(--main-height);
}
.highschool {
  width: 640px;
}

.highschool img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.university {
  width: 640px;
}
.university img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.section-3 {
  width: var(--max--width);
  height: 320px;
}
.section-3 h1 {
  font-size: var(--heading-font-size);
  color: var(--heading-color);
  border-bottom: 2px solid black;
}

.section-3_list {
  display: grid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.section-4 {
  width: var(--max--width);
  height: 640px;
  display: flex;
  flex-direction: column;
}
.section-4 h1 {
  font-size: var(--heading-font-size);
  color: var(--heading-color);
  border-bottom: 2px solid black;
}
.section-4_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.section-5 {
  width: var(--max--width);
  height: 320px;
  display: flex;
  gap: 30px !important;
  flex-direction: column;
}
.section-5 h2 {
  font-size: var(--subheading-font-size);
  color: var(--subheader-color);
}
.footer {
  width: var(--max--width);
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: var(--subheader-color);
  color: var(--white);
}

.footer-info {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  gap: 20px;
}
.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: var(--main-bg-color);
  color: var(--white);
}
/* 
@media (min-width: 320px) {
  :root {
    --max--width: 320px;
    --main-height: 240px;
  }

  .menu-bar img {
    display: inline-block;
    width: 24px !important;
    height: 24px;
    object-fit: contain;
  }

  .header-info {
    display: none !important;
  }
  .logo h1 {
    display: None;
  }
  .logo img {
    width: 42px;
    height: 42px;
  }
  .Section-1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;

    width: 320px;
    height: auto;
  }
  .name {
    width: 100%;
    height: auto;
  }
  .information p {
    max-width: 320px;
  }

  .icon-2 {
    width: 80px;
    height: 80px;
    left: 70%;
  }
} */
